.nav {
  flex-basis: 320px;
}

.form {
  flex: 1;
}

.scroll {
  overflow-y: auto;
  flex: 1;
}


.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.item {
  flex-basis: 100%;
}
