.item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 240px;
  height: 120px;
}

.price {
  display: flex;
  align-items: center;
}

.title {
  min-height: 48px;
  text-align: center;
}
